*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 background-color:#F6F8F9;
 font-family: Arial, Helvetica, sans-serif;
}

header{
  height: 70px;
  background-color: #FFF;
  padding: 10px 20px;
}

   /* utils */

.btn{
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

.btn-fill{
  background-color: #47ADF1;
  color: white;
  border: 1px solid #47ADF1;
}

.btn-empty{
  background-color: #fff;
  color: grey;
  border: 1px solid #000;
}
  
.marker{
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 65%;
  color: #fff;
}

.marker.editorial{
  background-color: #47ADF1;
}

.marker.goals{
  background-color: #9C72E4;
}

.marker.recruit{
  background-color: #64C0A9;
}

.marker.mobile{
  background-color: #F29E33;
}

.marker.web{
  background-color: #D863A1;
}

.marker.sales{
  background-color: #B0C926;
}

  /* Header */

  #logo{
    vertical-align: middle;
}

#logo-text{
  font-weight: 800;
  font-size: 30px;
  vertical-align: middle;
}

     /* Main */

.container{
  width: 70%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 5px;
}

.container .top{
  padding: 15px 40px;
  border-bottom: 1px solid #F6F8F9;
}

.container .bottom{
  padding: 40px;
}



    /* List */

.bottom li{
  padding: 10px 0px;
  margin: 5px 0px;
  background-color: white;
  list-style: none;
}

.list h2{
  font-weight: bold;
  margin: 0px;
}

.list h2:before{
  content: '\25BE';
}


.inside-list .check:before{
  content: ' \2714 ';
}

.inside-list .check{
  color: green;
  border: solid green 1px;
  border-radius: 50%;
  padding: 1px 5px;
  margin-right: 10px;
}


.inside-list .deleted:before{
  content: ' \2715 ';
}

.inside-list .deleted{
  color: red;
  border: solid red 1px;
  border-radius: 50%;
  padding: 2px 5px;
  margin-right: 10px;
}

